:host {
    position: relative;
}

.prompt {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #6980b1;
}

.entry-box {
    position: relative;
    left: 50%;
    top: 60px;
    transform: translateX(-50%);
    width: 560px;
    padding: 20px 30px;
    background-color: white;
    border-radius: 12px;
    border-bottom: 1px solid #606060;
    border-right: 1px solid #606060;
}

h1, p {
    margin: 20px 0;
}
